<div style="margin-top: -105px">
<div class="row justify-content-md-center text-center">
<div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
<i class="bi-hdd-fill"></i>
<h3>Proyecto Tienda Online</h3>
<img id= "FotoProyecto" src="~/images/tinda.png"/>
</div>
<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
<i class="bi-code-slash"></i>
<h3>Proyecto Horario</h3>
<img id= "FotoProyecto" src="~/images/reloj.png"/>
</div>
</div>
</div>
<div style="margin-top: 10px">
<div class="row justify-content-md-center text-center">
<div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
<i class="bi-hdd-fill"></i>
<h3>Proyecto Canvas</h3>
<img id= "FotoProyecto" src="~/images/canvas.png"/>
</div>
<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
<i class="bi-code-slash"></i>
<h3>Proyecto Tienda Informatica</h3>
<img id= "FotoProyecto" src="~/images/TiendaInfo.png"/>
</div>
</div>
</div>