@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row justify-content-center text-center bg-primary">
        <div class="col col-md-7 seccion-bienvenida">
            <h1>Experiencia Laboral</h1>
            <p>A lo largo de mi vida he trabajado en distintos puestos de trabajo y he acomulado distintas experiencias.</p>
            <img id= "foto" src="~/images/aspnet.png"/>
        </div>
    </div>
    <div style="margin-top: -105px">
        <div class="row justify-content-md-center text-center">
            <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
                <i class="bi-hdd-fill"></i>
                <h3>Auxiliar Administrativo</h3>
                <p><b>Old Teddy's Company (1 año 3 meses)</b></p>
                <p>Como empresa proveedora de juguetes tenemos clientes que realizan pedidos, consultas, peticiones,... Yo soy el encargado de realizar todas las gestiones necesarias para que tanto nosotros como los clientes, comerciales y proveedores podamos trabajar conjuntamente sin problemas.</p>
                <img id= "FotoCuadrada" src="~/images/otc.png"/>
            </div>
            <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
                <i class="bi-code-slash"></i>
                <h3>IT Support Specialist</h3>
                <p><b>Applus+ (2 meses)</b></p>
                <p>Resolución de cualquier tipo de incidencia informatica como IT-Suport a los usuarios de Applus+, mantenimiento y administración de los servidores y en ocasiones realizaba labores administrativas y de organización de inventario.</p>
                <img id= "FotoCuadrada" src="~/images/applus.png"/>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px">
        <div class="row justify-content-md-center text-center">
            <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
                <i class="bi-hdd-fill"></i>
                <h3>Mozo de almacén</h3>
                <p><b>Casa Mas (3 meses)</b></p>
                <p>Carga y descarga de palés con uso de uso de traspalés y tareas de picking y almacén</p>
                <img id= "FotoCuadrada" src="~/images/casamas.png"/>
            </div>
            <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
                <i class="bi-code-slash"></i>
                <h3>Help Desk Support Specialist</h3>
                <p><b>LK Bitronic (1 año 2 meses)</b></p>
                <p>Realizaba tareas de mantenimiento de equipos en un taller informático, asistencia telefónica y resolución de incidencias (Help Desk).</p>
                <img id= "FotoCuadrada" src="~/images/bitronic.png"/>
            </div>
            <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
                <i class="bi-hdd-fill"></i>
                <h3>Peón de construccción</h3>
                <p><b>Mundopaleta.Cons S.L (4 meses) </b></p>
                <p>Peón de construcción en empresa familiar.</p>
                <img id= "FotoCuadrada" src="~/images/mundopaleta.png"/>
            </div>
        </div>
    </div>
</div>

