@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CV Ivan Aranda Martinez</h1>
    <img id= "foto" src="~/images/fotocv.jpeg"/>
    <partial name="_Presentacion"/>
    <partial name="_Habilidades"/>
</div>

